.input-group {
  width: 350px;
  height: 45px;
}

.back-page {
  margin-top: 10%;
  transition: color 0.5s ease;
}
.back-page:hover {
  color: #ffc107 !important;
}
.load-more-btn {
  width: 100%;
}
.load-more-btn button {
  width: 200px;
  height: 50px;
  padding: 10px 25px;
  border: 2px solid #ffc107;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  background: #ffc107;
  line-height: 50px;
  padding: 0;
  border: none;
}
.load-more-btn button span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.load-more-btn button::before,
.load-more-btn button:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 2px;
  background: #ffc107;
}
.load-more-btn button::before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}
.load-more-btn button::after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.load-more-btn button:hover {
  background: transparent;
}
.load-more-btn button:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.load-more-btn button:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.load-more-btn button span:before,
.load-more-btn button span:after {
  position: absolute;
  content: "";
  background: rgb(255,193,7);
  background: linear-gradient(98deg, rgba(255,193,7,1) 0%, rgba(4,56,91,0.7878501742493873) 52%, rgba(0,228,255,0.49933476808692223) 86%);
}
.load-more-btn button span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
}
.load-more-btn button span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
}
.load-more-btn button span:hover:before {
  width: 100%;
}
.load-more-btn button span:hover:after {
  width: 100%;
}
