.input-group {
  width: 350px;
  height: 45px;
}

.back-page {
  margin-top: 10%;
  transition: color 0.5s ease;
}
.back-page:hover {
  color: #ffc107 !important;
}
.load-more-btn {
  width: 100%;
}
.load-more-btn button {
  width: calc(33.3% - 48px);
}
