.card {
  background-size: cover;
  border: none;
  display: flex;
  margin: 5%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.325);
}

.img-background {
  background: url(../../../public/images/starship-background.jpg) no-repeat center;
}
.card img {
  width: 160px;
  height: 160px;
  transition: width, height, 1s ease;
}
.card img:hover {
  width: 170px;
  height: 170px;
}
.card-info {
  min-height: 180px;
}
.card-title {
  color: #00263d;
  font-weight: 600;
}
.card-text {
  font-size: small;
  min-height: 50px;
  max-height: 70px;
}

.card-body a {
  color: #00263d;
  transition: background-color 0.5s ease;
  transition: box-shadow, 1s ease;
}
.card-body a:hover {
  background-color: #fceec3 !important;
  box-shadow: 0 0 10px #ffa600;
}
.trash-icon:hover {
  font-size: larger !important;
  color: rgb(227, 0, 0);
}
@media (min-width: 990px) and (max-width: 1200px) {
  .card-info {
    min-height: 220px !important;
  }
  .card img {
    margin-top: 20% !important;
  }
}
