.logo {
    width: 100px;
    padding: 0 !important;
  }
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 10px;
  }
  .navbar-expand-lg .navbar-nav .nav-item a {
    text-decoration-line: none;
    font-size: large;
    color: gray;
    transition: color 0.5s ease;
  }
  .navbar-expand-lg .navbar-nav .nav-item a::after{
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    transition: all 0.5s ease-out;
    background-color:#ffc107;
  }
  .navbar-expand-lg .navbar-nav .nav-item a:hover {
    color: #ffc107;
  }
  .navbar-expand-lg .navbar-nav .nav-item a:hover::after{
    width: 100%;
    transition: all 0.5s ease-in;
  }
  .mode {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .mode-dark {
    box-shadow: 2px 2px 4px pink;
    background-color: black;
  }
  .mode-light {
    box-shadow: 2px 2px 5px black;
    background-color: #3988ff86;
  }