.search-area{position: relative; }
.search-area .input-group{margin: 0 auto;}
.search-area ul{
    border: 1px solid #cdd3d8;
    border-top: none;
    position: absolute;
    top: 41px;
    left: calc(50% - 175px);
    box-shadow: 2px 2px 10px #ddd;
    border-radius: 0px 0px 6px 6px;
    width: 350px;
    z-index: 5;
    background-color: #fff;
    list-style: none;
    padding: 5px;
}

.search-area  > ul:empty{display: none;}
.search-area > ul >li{
    padding: 6px 0px;
}
.search-area > ul >li:hover{
    background-color:#ffc500 ;
}
.search-area > ul >li > a{
    text-decoration-line: none;
    color: rgb(0, 0, 125);
    padding:5px;
}
.search-area > ul >li:hover a{
color: #fff;
}